@import "tailwindcss";

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}

.script-font {
  font-family: var(--font-bad-script);
}

.montez-font {
  font-family: var(--font-montez);
}