@import "tailwindcss";

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}
.heading{
  font-family: var(--font-roboto);
}
.para{
  font-family: var(--font-poppins);
}

.badscript {
  font-family: var(--font-bad-script);
}

.montez {
  font-family: var(--font-montez);
}